{% extends 'layouts/app.html' %}
{% block title %}Join Our Community{% endblock %} 
{% load static %}
{% block content %}

	<div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Join Our Community</h1>
                        <p>
                        	
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'base:home' %}">Home</a></li>
                        <li>Join Our Community</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}